body {
    /*  Background Color */
    background-color: white;
}
.nav-links{
    /*  Text Top Right Alignment */
    text-align: right;
    /* Exterior Margin */
    margin: 10px;
}

.nav-links a{
    /*  Text Color */
    color: gray;
    /*  Text Font */
    font-family: 'Roboto', sans-serif;
    /*  Text Weight */
    font-weight: bold;
    /*  Text Size */
    font-size: 20px;
    /*  Text Top Margin */
    margin-top: 0%;
    /*  Text Top Padding */
    padding-top: 10px;
    /*  Text Bottom Padding */
    padding-bottom: 10px;
    /*  Text Left Padding */
    padding-left: 10px;
    /*  Text Right Padding */
    padding-right: 10px;
    /*  Text Decoration */
    text-decoration: none;
}

/*  Text Hover Underline */
.nav-links a:hover{
    text-decoration: underline;
}

.title {
    /* font */
    font-family: 'Roboto', sans-serif;
    color: rgb(215, 0, 0);
    font-size: 24px;
    /* alignment */
    margin: 20px;
}

table {
    /* alignment */
    margin-left: 10px;
    margin-right: auto;
    /* border */
    border-collapse: collapse;
    /* font */
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 20px;
    /* padding */
    padding: 20px;
}

th {
    /* font */
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
    font-weight: normal;
    /* alignment */
    text-align: left;
    /* padding */
    padding: 10px;
}

td {
    /* font */
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 14px;
    /* alignment */
    padding: 10px;
}

.text-box {
    width: 400px;
    height: 25px;
    font-size: 12px;
    /* Background Color */
    background-color: white;
    /* cursor color */
    caret-color: rgb(167, 167, 167);
    /* Border styling */
    border: 1px solid rgb(167, 167, 167);
    /* border color blue on focus */
    outline-color: #4d90fe;
    /* padding */
    padding-left: 5px;
}

#submit-button {
    width: 120px;
    height: 30px;
    /* Font */
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: white;
    /* Center Button */
    margin-left: auto;
    margin-right: 0px;
    display: block;
    /* Round Corners */
    border-radius: 2px;
    /* Padding */
    padding: 5px;
    /* Background Color */
    background-color: #4d90fe;
    /* Border styling */
    border-style: none;
}

#submit-button:hover {
    /* Border styling */
    border-style: solid;
    border-color: #3777de;
}